		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-6">
						<div class="footer-logo-wrapper">

							<a href="index.html" class="logo-image ">
								<img src="/img/logos/logo.png" alt="logo">
							</a>

							<p class="slogan"> Learn.
								<br>Create.
								<br>Impress.
							</p>

						</div>
					</div>

					<div class="col-md-2 col-sm-2 col-xs-6">
						<ul class="social helper center">
						    <li>
						    	<a href="https://www.facebook.com/AbanteCart">
						    		<i class="fa fa-facebook"></i>
						    	</a>
						    </li>
						    <li>
						    	<a href="http://www.twitter.com/abantecart">
						    		<i class="fa fa-twitter"></i>
						    	</a>
						    </li>
						    <li>
						    	<a href="http://www.youtube.com/user/abantecart/videos">
						    		<i class="fa fa-youtube"></i>
						    	</a>
						    </li>
						</ul>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="footer-wrapper">

							<span class="scroll-top js-scroll-top">
								<i class="fa fa-angle-up"></i>
							</span>

							<div class="docs-version js-docs-version">
								<span class="docs-current-version js-docs-current-version">v1.2.9</span>
								<!--<ul class="js-docs-version-list">
									<li>
										<a href="#">v1.2.3</a>
									</li>
								</ul>-->
							</div>

							<ul class="footer-menu helper right">
								<li>
									<a href="http://www.abantecart.com"> AbanteCart main site </a>
								</li>
								<li>
									<a href="http://marketplace.abantecart.com"> Market Place </a>
								</li>
								<li>
									<a href="http://forum.abantecart.com"> Community Forum </a>
								</li>
								<li>
									<a href="http://pages.github.com">Published with GitHub Pages</a>
								</li>
								<li>
									<a href="https://github.com/abantecart/abantecart.github.io">Modify This Site</a>
								</li>
							</ul>

							<p class="copyright helper right"> AbanteCart, all rights reserved. 2016 &copy; </p>

						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/js/all.js"></script>
	<script src="/js/custom.js"></script>
	{% include google_analytics.html %}
