<nav class="js-menu-fixed menu-vertical-wrapper">

    <div class="search">
<!--
		//conflict of css and google button
		<script>
		  (function() {
		    var cx = '015077254431814821964:ia6eg4e1ow4';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>
-->
		<form name="cse" id="google_search" action="https://www.google.com/cse">
		  <input type="hidden" name="cx" value="015077254431814821964:ia6eg4e1ow4" />
		  <input type="hidden" name="ie" value="utf-8" />
		  <input type="hidden" name="hl" value="" />
		  <input name="q" type="text" size="40" class="search-input form-control" placeholder="Documents search" />
		  <a href="#" onclick="document.getElementById('google_search').submit();"><i class="fa fa-search search-icon"></i></a>
		</form>
		                         
    </div>

	{% include menu.html nav=site.data.menu class='class="menu-vertical js-menu-vertical"' %}

    <div class="separator"></div>	

</nav>