<nav class="js-menu-fixed menu-vertical-wrapper">
    <ul class="menu-vertical  js-menu-vertical">
    	<li class="selected">
    		<a href="#">Tutorials</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>
    		<a href="#">Plugins</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>
    		<a href="#">Partners</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>
    		<a href="#">Affiliates</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>
    		<a href="#">Events</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>
    		<a href="#">About</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    	<li>
    		<a href="#">Faq</a>
    		<ul>
    			<li>
    				<a href="#">Instalation</a>
    				<ul>
    					<li>
    						<a href="#">Manually</a>
    					</li>
    					<li>
    						<a href="#">Wizard</a>
    					</li>
    					<li>
    						<a href="#">Softaculous</a>
    					</li>
    					<li>
    						<a href="#">Fantastico</a>
    					</li>
    					<li>
    						<a href="#">Transfer</a>
    					</li>
    				</ul>
    			</li>
    			<li>
    				<a href="#">Create</a>
    				<ul>
    					<li>
    						<a href="#">Multimedia</a>
    					</li>
    					<li>
    						<a href="#">Post</a>
    					</li>
    					<li>
    						<a href="#">Categories</a>
    					</li>
    					<li>
    						<a href="#">Comments</a>
    					</li>
    					<li>
    						<a href="#">Themes</a>
    					</li>
    				</ul>
    			</li>
    		</ul>
    	</li>
    </ul>
    <div class="separator"></div>	
    <!-- Search -
    <div class="search">
    	<form action="#">
    		<input type="text" class="search-input form-control" placeholder="search">
    		<i class="fa fa-search search-icon"></i>
    	</form>
    </div>
   - End of Search -->
    <!-- Tags -->
    {% if page.tags %}
    <ul class="tags">
    {% for stag in page.tags %}
        {% assign tag = stag[0] %}
        {% assign label = stag[1] %}
    	<li class="tag-item">
    		<a href="/tags/{{ tag }}.html">{{ label }}</a>
    	</li>
    {% endfor %}
    </ul>
    {% endif %}
    <!-- End of Tags -->
</nav>