<li>
    <a href="pages/install/index.html">Install</a>
    <ul>
    	<li>
    		<a href="pages/install/index.html">Installation Options</a>
    	</li>
    	<li>
    		<a href="pages/install/system_requirements.html">system requirements</a>
    	</li>
    	<li>
    		<a href="pages/install/download.html">Download</a>
    	</li>
    </ul>
</li>
<li>
    <a href="pages/start/index.html">Getting Started</a>
    <ul>
    	<li>
    		<a href="pages/start/settings.html">Basic configurations</a>
    	</li>
    	<li>
    		<a href="pages/start/">...</a>
    	</li>
    </ul>
</li>
<li>
    <a href="pages/user_manual/index.html">User Manual
    	<span class="menu-label">v1.2.3</span>
    </a>
    <ul>
    	<li>
    		<a href="pages/user_manual/prodcuts.htm">Managing Products</a>
    	</li>
    	<li>
    		<a href="pages/user_manual/order.htm">Managing Order</a>
    	</li>
    	<li>
    		<a href="pages/user_manual/order.htm">...</a>
    	</li>
    </ul>
</li>
<li>
    <a href="pages/design_guide/index.html">Design Guide</a>
    <ul>
    	<li>
    		<a href="pages/design_guide/template.html">Managing Templates</a>
    	</li>
    	<li>
    		<a href="pages/design_guide/template.html">...</a>
    	</li>
    </ul>
</li>
<li>
    <a href="pages/developer_guide/index.html">Developer Guide</a>
    <ul>
    	<li>
    		<a href="pages/developer_guide/architecture.html">Architecture</a>
    	</li>
    	<li>
    		<a href="pages/developer_guide/architecture.html">...</a>
    	</li>
    </ul>
</li>
