<li>
    <a href="/pages/install/installation_options.html">Install</a>
    <ul>
    	<li>
    		<a href="/pages/install/installation_options.html">Installation Options</a>
    	</li>
    	<li>
    		<a href="/pages/extensions/install.html">Install Extension</a>
    	</li>
    	<li>
    		<a href="/pages/install/system_requirements.html">System requirements</a>
    	</li>
    	<li>
    		<a href="/pages/install/download.html">Download</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/quickstart/checklist.html">Getting Started</a>
    <ul>
    	<li>
    		<a href="/pages/quickstart/checklist.html">Basic Setup Checklist</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/settings.html">Common Store settings</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/payment_quick_start.html">Enable Payments</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/shipping_quick_start.html">Enable Shipping</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/email_settings.html">Email settings</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/catalog/index.html">User Manual
    	<span class="menu-label">v1.2.9</span>
    </a>
    <ul>
    	<li>
    		<a href="/pages/catalog/products/search.html">Manage Products</a>
    	</li>
    	<li>
    		<a href="/pages/customers/search.html">Manage Customers</a>
    	</li>
    	<li>
    		<a href="/pages/promotions/specials.html">Manage Promotions</a>
    	</li>
    	<li>
    		<a href="/pages/orders/search.html">Manage Orders</a>
    	</li>
    	<li>
    		<a href="/pages/settings/settings.html">Edit Settings</a>
    	</li>
    	<li>
    		<a href="/pages/localization/languages/languages.html">Manage Localization</a>
    	</li>
    	<li>
    		<a href="/pages/embed/embed.html">Embed your store</a>
    	</li>
    	<li>
    		<a href="/pages/settings/stores.html">Set up multiple stores</a>
    	</li>
    	<li>
    		<a href="/pages/reports/index.html">Store Reports</a>
    	</li>
    	<li>
    		<a href="/pages/extensions/find.html">Extend Functionality</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/design/index.html">Design Guide</a>
    <ul>
    	<li>
    		<a href="/pages/design/templates/select.html">Manage Templates</a>
    	</li>
    	<li>
    		<a href="/pages/design/layouts.html">Manage Page Layouts</a>
    	</li>
    	<li>
    		<a href="/pages/design/blocks/search.html">Manage Blocks</a>
    	</li>
    	<li>
    		<a href="/pages/design/menu.html">Manage Menu</a>
    	</li>
    	<li>
    		<a href="/pages/design/blocks/banner_block.html">Manage Banners</a>
    	</li>
    	<li>
    		<a href="/pages/design/blocks/forms_block.html">Manage Forms</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/developer/index.html">Developer Guide</a>
    <ul>
    	<li>
    		<a href="/pages/developer/architecture.html">Architecture</a>
    	</li>
    	<li>
    		<a href="/pages/developer/extension_dev.html">Extension Development</a>
    	</li>
    	<li>
    		<a href="/pages/developer/templates_overview.html">Templates Overview</a>
    	</li>
    	<li>
    		<a href="/pages/developer/template_customization_or_development_guide.html">Developing Templates</a>
    	</li>
    	<li>
    		<a href="/pages/developer/template_dev_tools.html">Developer Tools</a>
    	</li>
    	<li>
    		<a href="/pages/developer/sf_api.html">Storefront API</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/tips/troubleshooting.html">Troubleshoot</a>
</li>
