---
layout: default
title: Edit Storefront Template 
description: Edit Storefront Template settings
redirect_from: "/tag/edit_storefront_template.html"
tags: [
    ['set_storefront_template', 'Select Storefront Template'],
    ['layout', 'Manage Pages Layouts'],
    ['menu_listing', 'Edit Menu'],
    ['block_listing', 'Blocks List'],
]
---

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing template settings</h3>
							<h4 class="category-description"> In the Admin area go to Design > Templates and click the <i class="fa fa-gear fa-lg"></i> edit button</h4>
							<p>
</p>

						</div>
						<!-- End of Caregory Info -->