---
layout: default
title: Edit Storefront Template 
description: Edit Storefront Template settings
redirect_from: "/tag/edit_storefront_template.html"
tags: [
    ['set_storefront_template', 'Select Storefront Template'],
    ['layout', 'Manage Pages Layouts'],
    ['menu_listing', 'Edit Menu'],
    ['block_listing', 'Blocks List'],
]
---
<!-- Video -->
<iframe class="video js-responsive-video" src="https://www.youtube.com/embed/YRlEHdmQM34?showinfo=0" style="border:0" allowfullscreen></iframe>
<!-- End of Video -->

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing template settings</h3>
							<h4 class="category-description"> In the Admin area go to Design > Templates and click the <i class="fa fa-gear fa-lg"></i> edit button</h4>
							<p>
</p>
<p><strong>Storefront Site Width :</strong> Set the width of storefront. Example: 100% or 1000px.</p>
<p><strong>Store Logo:</strong> The logo you want to display in the header of your store. In order to set a logo simply Click on image to change it<input id="settingFrm_config_logo" type="hidden" name="config_logo" value="image/18/73/3.gif" /> and a pop-up will appear allowing you to upload a picture you like from your local computer or set a pre-existing one which is already uploaded in the images directory of AbanteCart.</p>
						<!-- Note -->
						<div class="note js-note blue">
							<span class="note-close js-close">
								<i class="fa fa-times"></i>
							</span>
							<h4 class="note-title"> Note </h4>
							<p class="note-description"> Important to hint Save button after you change logo.</p>
						</div>
						<!-- End of Note -->
<p><strong>Icon:</strong> <span class="c1">A Favicon icon to display in the browser window next to the store address. Should be a PNG that is 16px x 16px.</span></p>
<p>Product images are automatically resized by AbanteCart, so you only need to upload one product image and it will resize to the sizes you specify below:</p>
<p>*<strong>Product Image Thumb Size:</strong> Default is 380x380. Main product image on product info page.</p>
<p>*<strong>Large Window Preview Size:</strong> Default is 500x500. Change zoom size on the product info page.</p>
<p>*<strong>Category List Size:</strong> Default is 120x120. Subcategory image size.</p>
<p>*<strong>Product List Size:</strong> Default is 250x250. Products image in the listings.</p>
<p>*<strong>Additional Product Image Size:</strong> Default is 45x45. Product info page.</p>
<p>*<strong>Related Product Image Size:</strong> Default is 120x120. Product info page.</p>
<p>*<strong>Cart Image Size:</strong> Default is 75x75. Products image size on shopping cart page.</p>
<p>*<strong>Grid Image Size:</strong> Default is 57x57.</p>
<p>After you have made your changes, select the save button</p>
						</div>
						<!-- End of Category Info -->