---
layout: default
title: Template Manager
description: Select Storefront Template
redirect_from: "/tag/set_storefront_template.html"
tags: [
    ['edit_storefront_template', 'Edit Storefront Template'],
]
---

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing your store's theme</h3>
							<h4 class="category-description"> In the Admin area go to Design > Templates </h4>
							<p>
</p>
<p class="box-description"><a class="jcepopup" href="/img/pages/abantecart-template-select.png"><img src="/img/pages/abantecart-template-select.png" border="0" width="600" /></a>
						</div>
						<!-- End of Caregory Info -->
						
						<!-- Note -->
						<div class="note js-note blue-light">
							<span class="note-close js-close">
								<i class="fa fa-times"></i>
							</span>
							<h4 class="note-title"> Info </h4>
							<p class="note-description"> In the store's Admin area go to the Extensions > Templates section and check whether the your new theme extension is installed and enabled at your store. If not you can not manage this template in Design > Templates section. </p>
						</div>
						<!-- End of Note -->