---
layout: default
title: Template Manager
description: Select Storefront Template
redirect_from: "/tag/set_storefront_template.html"
tags: [
    ['edit_storefront_template', 'Edit Storefront Template'],
    ['layout', 'Manage Pages Layouts'],
    ['menu_listing', 'Edit Menu'],
    ['block_listing', 'Blocks List'],
]
---

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing your store's theme</h3>
							<h4 class="category-description"> In the Admin area go to Design > Templates </h4>
							<p>
</p>
<p class="box-description"><a class="jcepopup" href="/img/pages/abantecart-template-select.png"><img src="/img/pages/abantecart-template-select.png" border="0" width="600" /></a></p>
						</div>
						<!-- End of Category Info -->



						<p>To apply template to the storefront click the <i class="fa fa-toggle-off"></i> button<br>
						To edit template logo, favicon, thumbnails sizes click the <i class="fa fa-gear fa-lg"></i> edit button<br>
						Third party templates you can find more settings and dependencies in the template's extension page <i class="fa fa-puzzle-piece fa-lg"></i> </p>


						<!-- Note -->
						<div class="note js-note blue">
							<span class="note-close js-close">
								<i class="fa fa-times"></i>
							</span>
							<h4 class="note-title"> Info </h4>
							<p class="note-description"> In the store's Admin area go to the Extensions > Templates section and check whether the your new theme extension is installed and enabled at your store. If not you can not manage this template in Design > Templates section. </p>
						</div>
						<!-- End of Note -->





						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing template Layout</h3>
							<h4 class="category-description"> In the Admin area go to Design > Layouts </h4>
							<p>If you are looking how to disable, edit or move some blocks (side boxes) in the Admin area go to <a class="crosslink" href="/pages/design/layouts.html">Design > Layouts</a> section. Important to select appropriate template and page layout.</p>
						</div>
						<!-- End of Category Info -->




            <!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Clone default template</h3>
							<h4 class="category-description"> Additional tool installation required.</h4>
              <p>If you modify a default template directly and it is updated, then your modifications may be lost. By using a clone option you will ensure that your modifications are preserved.</p>
                      <!-- Note -->
          						<div class="note js-note blue">
          							<span class="note-close js-close">
          								<i class="fa fa-times"></i>
          							</span>
          							<h4 class="note-title"> Note </h4>
          							<p class="note-description"> Usually creating new templates require developer skills, you will be pleased to know that we have developed a special extension to help clone default template. <br />
                          Anyone welcome to help and contribute to this extension development. Join GitHub project <a href="https://github.com/abantecart/developer_tools_extension" class="button small green"><i class="fa fa-code-fork"></i> Success</a>
                         </p>
          						</div>
          						<!-- End of Note -->

                      <!-- Steps -->
        							<ul class="steps">
        								<li class="step">
        									<span class="step-number">1</span>
        									<h4 class="step-title">Install and enable latest version of developer tools extension.</h4>
                          <p><a class="jcepopup" href="/img/other/dev-tools-installed.png"><img src="/img/other/dev-tools-installed.png" border="1" alt="" width="300" /></a></p>
        									<div class="step-content"> Visit <a href="https://github.com/abantecart/developer_tools_extension" class="button small green"><i class="fa fa-code-fork"></i> developer_tools_extension page</a> at GitHub. In the right corner select button 'Clone or Download' and choose Download Zip option. Unarchive it, locate  developer_tools_extension version you need and upload code/extensions/developer_tools/ folder to your_site/extensions/ folder. It is important to make sure that developer_tools directory and directory for cloned template have complete rules to write files (777). For template extension clone, you need to set temporary /extensions/ directory to 777 and for core template clone set /storefront/view/ directory to 777
                          </div>
        								</li>



                        <li class="step">
        									<span class="step-number">2</span>
        									<h4 class="step-title">In Design > Templates page <i class="fa fa-clone fa-lg"></i> clone button will be activated.</h4>
                          <p><a class="jcepopup" href="/img/other/clone-button-activated.png"><img src="/img/other/clone-button-activated.png" border="1" alt="" width="300" /></a></p>
        									<div class="step-content"> Click clone button to start wizard
                          </div>
        								</li>

                        <li class="step">
        									<span class="step-number">3</span>
        									<h4 class="step-title">Clone Wizard.</h4>
                          <p><a class="jcepopup" href="/img/other/template-clone-wizard.png"><img src="/img/other/template-clone-wizard.png" border="1" alt="" width="300" /></a></p>
        									<div class="step-content"> You have to choose Clone to Extension (/extensions/) or Core Template (/storefront/view/) <br />
                            And select Clone method: Partial to be new template as child of default or Full to make new template completely separated
                          </div>
        								</li>

                        <li class="step">
        									<span class="step-number">4</span>
        									<h4 class="step-title">Set new template to be your default theme.</h4>
                          <p><a class="jcepopup" href="/img/other/set-default-template.png"><img src="/img/other/set-default-template.png" border="1" alt="" width="300" /></a></p>
        									<div class="step-content"> </div>
        								</li>

                      </ul>
						</div>
						<!-- End of Category Info -->
