---
layout: default
title: Template Manager
description: Select Storefront Template
redirect_from: "/tag/set_storefront_template.html"
tags: [
    ['edit_storefront_template', 'Edit Storefront Template'],
    ['layout', 'Manage Pages Layouts'],
    ['menu_listing', 'Edit Menu'],
    ['block_listing', 'Blocks List'],
]
---

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing your store's theme</h3>
							<h4 class="category-description"> In the Admin area go to Design > Templates </h4>
							<p>
</p>
<p class="box-description"><a class="jcepopup" href="/img/pages/abantecart-template-select.png"><img src="/img/pages/abantecart-template-select.png" border="0" width="600" /></a></p>
						</div>
						<!-- End of Caregory Info -->
						
						
						
						<p>To apply template to the storefront click the <i class="fa fa-toggle-off"></i> button<br>
						To edit template logo, favicon, thumbnails sizes click the <i class="fa fa-gear fa-lg"></i> edit button<br>
						Third party templates you can find more settings and dependencies in the template's extension page <i class="fa fa-puzzle-piece fa-lg"></i> </p>
						
	
						<!-- Note -->
						<div class="note js-note blue">
							<span class="note-close js-close">
								<i class="fa fa-times"></i>
							</span>
							<h4 class="note-title"> Info </h4>
							<p class="note-description"> In the store's Admin area go to the Extensions > Templates section and check whether the your new theme extension is installed and enabled at your store. If not you can not manage this template in Design > Templates section. </p>
						</div>
						<!-- End of Note -->
						
						
						
						
						
						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Changing template Layout</h3>
							<h4 class="category-description"> In the Admin area go to Design > Layouts </h4>
							<p>If you are looking how to disable, edit or move some blocks (side boxes) in the Admin area go to Design > Layouts section. Then select your store default template.</p>
						</div>
						<!-- End of Caregory Info -->