<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="page">
		<div class="header header-over large">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<a href="/index.html" class="logo-image">
							<img src="/img/logos/logo.png" alt="AbanteCart open source ecommerce">
						</a>
						<a href="/index.html" class="languages">
						<span class="language-active js-language-active">AbanteCart Docs</span>
						</a>
					</div>
					<div class="col-md-9 col-sm-6 col-xs-6">
					<nav class="right helper">
    					<ul class="menu sf-menu js-menu">
						{% include top_menu.html %}
						</u>
					</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="page-info page-info-background background-2 page-info-small">
			<div class="page-info-container">
				<div class="container ">
					<div class="row">
						<div class="col-md-12">
							<h1 class="page-title">{{ page.title }}</h1>
							<h2 class="page-description">{{ page.description }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="layout with-left-sidebar">
							<div class="left-sidebar">
								{% include side_menu.html %}
							</div>
							<div class="main-content with-left-sidebar main-content-full">
								{{ content }}

								<div class="note js-note blue-light">
									<h4 class="note-title"> Related pages: </h4>
									{% include tags.html %}
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% include footer.html %}

</body>

</html>