<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="page">
		<div class="header header-over large">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<a href="/index.html" class="logo-image">
							<img src="/img/logos/logo.png" alt="AbanteCart open source ecommerce">
						</a>
						<a href="/index.html" class="languages languages-light">
						<span class="language-active js-language-active">AbanteCart Docs</span>
						</a>
					</div>
					<div class="col-md-9 col-sm-6 col-xs-6">
					<nav class="right helper">
    					<ul class="menu sf-menu js-menu menu-light">
						{% include top_menu.html %}
						</u>
					</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="rotator background-5 rotator-dark ">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="rotator-text"> The best open source 
							<span class="green_text">eCommerce</span> explained in here.
						</div>
						
						<div class="main_page_search center">
							<form name="cse" id="google_search" action="https://www.google.com/cse">
							  <input type="hidden" name="cx" value="015077254431814821964:ia6eg4e1ow4" />
							  <input type="hidden" name="ie" value="utf-8" />
							  <input type="hidden" name="hl" value="" />
							  <input name="q" type="text" size="40" class="search-input form-control" placeholder="Documents search" />
							  <a href="#" onclick="document.getElementById('google_search').submit();"><i class="fa fa-search search-icon"></i></a>
							</form>
						</div>
						
						<div class="page-info-buttons helper center">
							<a href="https://github.com/abantecart/abantecart-src/archive/master.zip"><span class="button green stroke large">Download</span></a>
							<a href="https://github.com/abantecart/abantecart-src"><span class="button stroke large">GitHub</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="content">
		{{ content }}
		</div>

{% include footer.html %}

</body>

</html>